.header{
    display: flex;
    width: 100%;
    color: #710303;
}

.heading{
    flex : 2;
    display : flex;
    justify-content : flex-start;
    margin : 3px 10px;
}

.weather{
    flex: 1 1;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin : 3px 20px;
}

.date-info{
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column; 
}