.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 18px 5%;
    color: #36454F;
    background-color: #fff;
}

.title{
    margin : 4px 6px;
}

.date-info{
    display: flex;
    flex-direction: column;
    gap: 8px;
    font-weight: 600; 
}

.date-info-date{
    font-size: 1.2em;
}