@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,600,700);
@import url(https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css);
.article {
  font-family: 'Open Sans', Arial, sans-serif;
  position: relative;
  overflow: hidden;
  margin: 10px;
  min-width: 250px;
  max-width: 310px;
  width: 100%;
  background-color: #ffffff;
  color: #000000;
  text-align: left;
  font-size: 16px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
}

.article:hover {
  box-shadow: rgb(0 0 0 / 35%) 0px 5px 15px;
}

.article * {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.article:after {
  position: absolute;
  top: 12px;
  left: 0;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 25px 0 25px 25px;
  border-color: transparent transparent transparent #d2652d;
  content: '';
  -webkit-transform: translateX(-100%);
  transform: translateX(-100%);
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.article img {
  max-width: 100%;
  vertical-align: top;
  position: relative;
}

.article figcaption {
  padding: 20px 20px 30px;
  background-color: #ffffff;
}

.article .date {
  background-color: #d2652d;
  top: 15px;
  color: #fff;
  right: 15px;
  min-height: 48px;
  min-width: 48px;
  position: absolute;
  text-align: center;
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
  border-radius: 50%;
  padding: 10px 0;
}

.article .date span {
  display: block;
  line-height: 14px;
}

.article .date .month {
  font-size: 11px;
}

.article h3,
.article p {
  margin: 0;
  padding: 0;
}

.article h3 {
  margin-bottom: 10px;
  display: inline-block;
  font-weight: 700;
}

.article p {
  font-size: 0.8em;
  margin-bottom: 20px;
  line-height: 1.6em;
}

.article footer {
  padding: 0 25px;
  color: #999999;
  font-size: 0.8em;
  line-height: 50px;
  text-align: left;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  display: flex;
  max-height: 50px;
}

.article footer > div {
  display: inline-block;
  margin-right: 15px;
  flex: 0 0 50%;
}

.article footer i {
  margin-right: 5px;
  font-size: 1.2em;
}

.article a {
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  position: absolute;
  z-index: 1;
}

.article:hover:after,
.article.hover:after {
  -webkit-transform: translateX(0%);
  transform: translateX(0%);
}

figcaption:hover {
  cursor: pointer;
}